[Desktop Entry]
Encoding=UTF-8
Name=QtDMM
Exec=qtdmm
Icon=/usr/share/pixmaps/qtdmm.png
Terminal=false
Type=Application
Categories=GNOME;KDE;Application;Utility;
